<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crowd Wall</title>

    <link rel="stylesheet" href="../static/css/crowd_style.css">



</head>

</body>


<section class="nav__wrapper">
    <nav>
        <div class="nav__name">

            <h1>Welcome to the PARTY , <span class="blue-words"> {{user_info['first_name']}}</span></h1>
        </div>


        <form action="/logout" method="post">
            <button type="submit" class="button">Logout</button>
        </form>

    </nav>
</section>

<section class="container-md">
    <div class="section__songs">
        <div class="current__song--wrapper">
            <h1>Current Song</h1>
            <div class="current__song">
                <figure><img class="current__song--img" src="{{playing_song[0]['cover_link']}}"
                        alt="{{playing_song[0]['title']}} cover art"></figure>

                <h4>
                    {{playing_song[0]['artist']}}
                </h4>
                <h3>
                    {{playing_song[0]['title']}}
                </h3>
                <h3>
                    {{playing_song[0]['length']}}
                </h3>
                <h6> Suggested by :
                    {{playing_song[0]['first_name']}}

                </h6>

            </div>
        </div>
        <div class="add__song--wrapper">
            <h1 class="add__song--title">Add a Song</h1>
            <div style="color: red;">
                {% with messages = get_flashed_messages() %} <!-- declare a variable called messages -->
                {% if messages %} <!-- check if there are any messages -->
                {% for message in messages %} <!-- loop through the messages -->
                <p>{{message}}</p> <!-- display each message in a paragraph tag -->
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div>

                <form action="/add_song" class="add__song" method="post">
                    <input type="hidden" name="user_id" value="{{user_info['id']}}">
                    <div class="">
                        <label for="title">Title:</label>
                        <input type="text" name="title" value="title">
                    </div>
                    <div class="">
                        <label for="artist">Artist:</label>
                        <input type="text" name="artist" value="artist">
                    </div>


                    <button type="submit" class="button">Request Song</button>

                </form>
            </div>

        </div>

    </div>
    <div class="section__queue">


        <div class="crowd__songs">
            <div class="crowd__songs--title">
                <h1>Crowd Songs</h1>
            </div>
            <div class="crowd__songs--scroll">
                {% for song in crowd_songs: %}
                <section class="crowd__songs--song">
                    <figure class="crowd__songs--img-wrapper">
                        <img class="crowd__songs--img" src="{{song.cover_link}}" alt="{{song.title}} cover art">
                    </figure>
                    <div class="crowd__songs--descrpition">
                        <h4>{{song.title}} </h4>
                        <h5>{{song.artist}}</h5>
                        <h6>{{song.length}}</h6>
                        <h6>Suggested by : {{song.first_name}}</h6>
                    </div>
                    <div>

                        {% if song.user_id == user_info['id'] %}
                        <form action="/delete_song" method="post">
                            <input type="hidden" name="song_id" value="{{song.song_id}}">
                            <input type="hidden" name="crowd_id" value="{{song.id}}">
                            <button type="submit" class="button--red"> Delete</button>

                        </form>

                        {% endif %}
                    </div>
                </section>







                {% endfor %}
            </div>

        </div>


    </div>
    </div>
</section>

</body>

</html>