<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crowd Wall</title>

    <link rel="stylesheet" href="../static/css/crowd_style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">


</head>
<script src="https://cdn.jsdelivr.net/npm/html-duration-picker@latest/dist/html-duration-picker.min.js"></script>
</body>


<div class="container">
    <div class="nav">
        <div class="head">

            <h1>Welcome to the PARTY , {{user_info['first_name']}}</h1>
        </div>
        <div class="logout">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="container-md">
        <div class="col-a">
            <div class="current-song">
                <h1>Current Song</h1>
                <div class="song">
                    <p>{{playing_song[0]['artist']}} | {{playing_song[0]['title']}} | {{playing_song[0]['length']}}
                    </p>
                    <p>-{{playing_song[0]['first_name']}}</p>
                </div>
            </div>
            <div class="add-song">
                <h1>Add a Song</h1>
                <div style="color: red;">
                    {% with messages = get_flashed_messages() %} <!-- declare a variable called messages -->
                    {% if messages %} <!-- check if there are any messages -->
                    {% for message in messages %} <!-- loop through the messages -->
                    <p>{{message}}</p> <!-- display each message in a paragraph tag -->
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <form action="/add_song" method="post">
                    <input type="hidden" name="user_id" value="{{user_info['id']}}">
                    <div class="mb-3">
                        <label for="title">Title:</label>
                        <input type="text" name="title" value="title">
                    </div>
                    <div class="mb-3">
                        <label for="artist">Artist:</label>
                        <input type="text" name="artist" value="artist">
                    </div>


                    <button type="submit">Request Song</button>

                </form>

            </div>
        </div>
        <div class="col-d">
            <div class="crowd-songs">
                <h1>Crowd Songs</h1>
                <div class="scroll">
                    {% for song in crowd_songs: %}


                    <div class="song">
                        <img class="song_img" src="{{song.cover_link}}" alt="{{song.title}} cover art">
                        <p>{{song.artist}} | {{song.title}} | {{song.length}}</p>
                        <p>-{{song.first_name}}</p>

                        {% if song.user_id == user_info['id'] %}
                        <form action="/delete_song" method="post">
                            <input type="hidden" name="song_id" value="{{song.song_id}}">
                            <input type="hidden" name="crowd_id" value="{{song.id}}">
                            <button type="submit" class="btn btn-link"> Delete</button>

                        </form>

                        {% endif %}

                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</div>


</body>

</html>