<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ Wall</title>

    <link rel="stylesheet" href="../static/css/dj_style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="nav">
            <div class="head">
                <h1>DJ , {{user_info['first_name']}}</h1>
            </div>
            <div class="logout">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="container-md">
            <div class="col-a">
                <div class="current-song">
                    <h1>Current Song</h1>
                    <div class="song">
                        <img class="song_img" src="{{playing_song[0].cover_link}}"
                            alt="{{playing_song[0].title}} cover art">
                        <p><a href="{{playing_song[0].track_link}}">{{playing_song[0]['artist']}}</a> |
                            {{playing_song[0]['title']}} | {{playing_song[0]['length']}}
                        </p>
                        <p>-{{playing_song[0]['first_name']}}</p>
                    </div>
                </div>

                <div class="queue">
                    <h1>Queue</h1>

                    {% for queued in all_queue: %}
                    <div class="song">
                        <img class="song_img" src="{{queued.cover_link}}" alt="{{queued.title}} cover art">
                        <p>{{queued.artist}} | {{queued.title}} | {{queued.length}}</p>
                        <p>-{{queued.first_name}}</p>


                        <form action="/play_button" method="post">
                            <input type="hidden" name="song_id" value="{{queued.song_id}}">
                            <input type="hidden" name="user_id" value="{{queued.user_id}}">
                            <input type="hidden" name="crowd_id" value="{{queued.id}}">
                            <button type="submit">Play</button>
                        </form>


                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-b">
                <div class="crowd-songs">
                    <h1>Crowd Songs</h1>
                    <div class="scroll">

                        {% for song in crowd_songs: %}


                        <div class="song">
                            <img class="song_img" src="{{song.cover_link}}" alt="{{song.title}} cover art">
                            <p>{{song.artist}} | {{song.title}} | {{song.length}}</p>
                            <p>-{{song.first_name}}</p>


                            <form action="/add_to_queue" method="post">
                                <input type="hidden" name="song_id" value="{{song.song_id}}">
                                <input type="hidden" name="user_id" value="{{song.user_id}}">
                                <input type="hidden" name="crowd_id" value="{{song.id}}">
                                <button type="submit">ADD</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
</body>

</html>