html {
    background: #123;

    background-image: url('../img/giphy.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: soft-light;
    overflow: hidden;
}

body {
    display: block;
    font-size: 52px;

}



div {
    font-size: 20px;
    background-color: transparent;

}

.container {


    color: aqua;
    margin: 15px;
    padding: 15px;
    content: none;

}


.container-md {
    display: inline-flex;

}

.col-a,
.col-b {
    color: #000;
    flex: 1;
}

.current-song,
.add-song,
.crowd-songs {
    height: fit-content;

    flex: 1;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    color: aqua;
}



.nav {
    display: inline-flex;

    border: 3px aqua solid;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}

.head {
    flex: 7;
    padding-left: 15px;

}

.logout {

    flex: 1;
}

.song {
    border: 2px solid aqua;

    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}