.container {
    width: 1080px;
    background-color: rgb(255, 0, 119);
    border-radius: 25px;
    padding-top: 15px;
    margin-top: 15px;

}

html {
    background: #123;

    background-image: url('../img/giphy\ \(1\).gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: soft-light;
    overflow: hidden;
}

.container-md {
    display: flex;

}

.col-a,
.col-b {
    flex: 1;
}

.current-song,
.queue,
.crowd-songs {


    border: 5px double yellow;
    background-color: rgb(255, 255, 194);
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    color: aqua;
    opacity: .9;

}

input {
    border-color: aqua;
}

.nav {
    display: inline-flex;

    border: 3px aqua solid;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}

.head {
    flex: 7;
}

.logout {
    flex: 1;
}

.song {
    border: 2px solid aqua;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
}

.scroll {
    height: 750px;

    overflow-y: scroll;
}

.song_img {
    height: 70px;
    width: 70px;
}